<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div tuiBlock>
    <div class="group group--form">
      <tui-textfield tuiTextfieldSize="m" class="group__item">
        <label tuiLabel for="author">Author:</label>
        <input type="text" id="author" formControlName="author" tuiTextfield />
      </tui-textfield>

      <tui-textfield tuiTextfieldSize="m" class="group__item">
        <label tuiLabel for="title">Title:</label>
        <input type="text" id="title" formControlName="title" tuiTextfield />
      </tui-textfield>

      <tui-textfield tuiTextfieldSize="m" class="group__item">
        <label tuiLabel for="year">Year:</label>
        <input type="number" id="year" formControlName="year"  tuiTextfield/>
      </tui-textfield>

      <tui-textfield tuiTextfieldSize="m" class="group__item">
        <label tuiLabel for="pages">Pages:</label>
        <input type="number" id="pages" formControlName="pages" tuiTextfield />
      </tui-textfield>
    </div>
  </div>

  <div tuiBlock>
    <div tuiGroup class="group group--footer">
      <div class="group__item">
      </div>
      <div class="group__item">
      </div>
      <div class="group__item">
      </div>
      <div class="group__item">
        <button tuiButton class="button--submit" appearance="primary" size="s" type="submit" onclick="book[book.open ? 'close' : 'showModal']()">{{ bookId ? 'Update' : 'Add' }} Book</button>
      </div>
    </div>
  </div>
</form>